@font-face {
  font-family: Stratos-Regular;
  font-style: normal;
  font-weight: 500;
  src:
    url("/src//assets/fonts/StratosLCWeb-Regular.woff") format("woff"),
    url("/src//assets/fonts/StratosLCWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Stratos-Bold;
  font-style: normal;
  font-weight: 500;
  src:
    url("/src//assets/fonts/StratosLCWeb-Bold.woff") format("woff"),
    url("/src//assets/fonts/StratosLCWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Stratos-Light;
  font-style: normal;
  font-weight: 500;
  src:
    url("/src//assets/fonts/StratosLCWeb-Light.woff") format("woff"),
    url("/src//assets/fonts/StratosLCWeb-Light.woff2") format("woff2");
}
